@import "../../../index.scss";

.dogPosts {
  padding: 100px 0px;
  background: black;
  font-family: dm-sans, sans-serif;
  @media (max-width: 768px) {
    padding: 50px 0px;
  }
  h2 {
    margin: 0;
    font-weight: 900;
    color: $primary-color;
    font-size: 24px;
  }
  p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    color: $text-color;
    padding-bottom: 5px;
  }
}

.allTexts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
