@use "../../index.scss" as *;

.button {
 font-family: $secondary-font;
  background-color: var(--primary-color);
  color: $text-color;
  padding: $button-padding;
  border-radius: $radius;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s;
  color: $text-color;
  @media (max-width: 600px) {
    width: 100%;
  }
  svg {
    padding-left: 10px;

    path {
      fill: $text-color;
      transition: 0.3s;
    }
  }
  &.primary {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);

    &:hover {
      background-color: color-mix(in srgb, var(--primary-color) 95%, black);
      border: 1px solid color-mix(in srgb, var(--primary-color) 95%, black);
    }
  }
  &.secondary {
    background-color: transparent;
    border: 1px solid $text-color;
    color: $text-color;
    &:hover {
      background-color: $text-color;
      color: $bg-color;
      svg {
        path {
          fill: $bg-color;
        }
      }
    }
  }
  &.third {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    &:hover {
      background-color: $text-color;
      color: $bg-color;
      svg {
        path {
          fill: $bg-color;
        }
      }
    }
  }
}
