@import "../../index.scss";
.dogs {
  padding-bottom: 100px;
}
.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin-top: 50px;
  .row {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    gap: 14px;
  }

  .fourty {
    width: calc(40% + 60px);
    padding: 19px;
    background: #151515;
    border-radius: 5px;
    text-align: center;
  }

  .twenty {
    width: 20%;
    padding: 19px;
    background: #151515;
    border-radius: 5px;
    text-align: center;
  }
}
