@import "../../../index.scss";
.pageHero {
  position: relative;
  height: 400px;
  background: url(/public/images/hero.png) center / cover no-repeat;
  color: white;
  text-align: center;
  align-content: center;
  overflow: hidden;
  background-size: cover;
  background-position: center -170px;
  transition: all 0.3s linear;
}
.pageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1.36) 0%,
    #00000066 70%,
    #00000061 60%,
    rgba(0, 0, 0, 0.91) 100%
  );
  z-index: 1;
  transition: all 0.3s linear;
}
.hero {
  position: relative;
  height: 100vh; // or use a fixed height like 600px
  background: url("../../../../public/images/hero.png") center/cover no-repeat;
  color: white;
  text-align: center;
  align-content: center;
  overflow: hidden;
  transition: all 0.3s linear;

  h1 {
    font-size: 64px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 15px;
    @media (max-width: 768px) {
      font-size: 44px;
    }
  }
  p {
    font-family: $secondary-font;
    padding-bottom: 15px;
    margin: 0;
    max-width: 490px;
    line-height: 28px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgb(0 0 0 / 96%) 0%,
    transparent 30%,
    transparent 70%,
    rgb(0 0 0 / 91%) 100%
  );
  z-index: 1;
  transition: all 0.3s linear;
}

.content {
  position: relative;
  z-index: 2;
  text-align: left;
  max-width: 600px;
  padding-top: 140px;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
h1 {
  font-family: Eirene;
  font-weight: 700;
  font-style: Bold;
  font-size: 50px;
  color: $text-color;
  padding-bottom: 5px;
  line-height: 1;
}
p {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 20px;
  color: #858585;
}
